.animated-text {
    font-size: 13px;
    font-weight: bold;
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color: purple;
    }
}
.heart-icon{animation:2.5s ease 0s normal none infinite running animateHeart;
color:#e00404;
font-size:15px;
margin:0 5px}
@keyframes animateHeart{0%{transform:scale(1)}5%{transform:scale(1.2)}10%{transform:scale(1.1)}15%{transform:scale(1.25)}50%{transform:scale(1)}100%{transform:scale(1)}}

